

/* Footer.css */
.footer {
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    margin-top: 2px;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 10;
    position : sticky;
    /* Uncomment if fixed footer is required */
    /* position: fixed; */
}

.footer-content {
    width: 100vw;
}

.footer-icon-container {
    margin-top: 10px;
}

.footer-icon {
    margin: 0 10px;
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
}
